@import '../../theme/theme.scss';
@import '../../theme/layout';
@import '../../kai-font/style.scss';

.kai-grid-item-container {
    width: 7.3rem;
    height: 7.3rem;
    &:focus{
        outline: none;
    }
    &-focused {
        color: var(--cbl-text-focused);
      }
  
      &-unfocused {
        color: var(--cbl-checkbox-unfocused);
      }

    > img {
        position: relative;
        width: 100%;
        height: 100%;
    }
}